#area, #contacto, #estudio, #home-logo {
    height: 100vh;
}

#home-logo {
    background-image: url(../background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.home-logo-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding-top: 10%;
}

.logo-contact { 
    background-image: url(../logo-estudio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
}

.logo-normal-container {
    top: 75px;
    text-align: center;
}

.logo-normal-img {
    max-width: 50%;
} 

.info-contact {
    position: absolute;
    bottom: 60px;
}

.contact-text {
    font-size: 1.5rem;
}

.logo-studio { 
    background-image: url(../logo-estudio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    background-color: rgb(154, 21, 26);
}

.studio-text {
    font-size: 1.1rem;
}

.studio-text p {
    text-align: justify;
}

.studio-text-container {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.title-text, .base-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

.title-text {
    font-weight: bold;
}

.contact-subtitle {
    font-family: 'Roboto', sans-serif;
}

.contact-email, .contact-email:hover {
    color: black;
}

.top-layer-img {
    background-color: rgb(154, 21, 26);
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-menu a {
    color: white;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

#contacto {
    background-color: rgb(154, 21, 26);
    padding-top: 40px;
}

.title-estudio {
    padding-top: 100px;
}

.main-navbar {
    background-color: rgb(154, 21, 26);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.text-area-laboral, .text-area-civil, .text-area-familia, .text-area-previsional {
    display: none;
    position: absolute;
}

.nav-item {
    padding-bottom: 5px;
    padding-top: 5px;
}

.main-menu .menu-item-hover:hover {
    background-color: rgb(135, 16, 17); 
}
.main-menu {
    padding-right: 0;
}
